<div class = "container">
  <h2>商品編集</h2>
  <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= form_with model: [:admin,@item] do |f| %>
      <p>商品画像<%= f.file_field :image, accept: "image" %></p>
      <p>商品名<%= f.text_field :name, autofocus: true %></p>
      <p>商品説明<%= f.text_area :introduction, autofocus: true %></p>
      <p>税抜価格<%= f.text_field :price, autofocus: true %></p>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
