<div class = "container">
  <h4>注文履歴詳細</h4>
  <h5><strong>購入者</strong><%= @order.name %></h5>
  <h5><strong>注文日</strong><%= @order.created_at.strftime('%Y/%m/%d') %></h5>
  <h5><strong>配送先</strong>〒<%= @order.postal_code %>&emsp;<%= @order.address %></h5>
  <h5><strong>支払方法</strong><%= @order.payment_method %></h5>
  <table class = "table table-bordered col-10">
    <therd>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </therd>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price * order_detail.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class = "table table-bordered col-4">
    <tr>
      <td>商品合計</td>
      <td><%= @order.total_payment - @order.postage %></td>
    </tr>
    <tr>
      <td>送料</td>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <td>請求金額合計</td>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>
</div>
