<div class = "container">
  <h3>注文情報入力</h3>
  <div class = "py-3">
    <h4><strong>支払方法</strong></h4>
    <%= form_with model: @order, url: public_order_confirm_path do |f| %>
      <div class = "py-3">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </div>
      <div class = "py-3">
        <h4><strong>お届け先</strong></h4>
        <p>
          〒<%= current_customer.postal_code %>&emsp;<%= current_customer.address %><br>
          <%= current_customer.last_name += current_customer.first_name %>
        </p>
      </div>
      <div class = "text-center py-3">
        <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
