<div class = "container">
  <h4>注文履歴詳細</h4>
  <h5>注文情報</h5>
  <table class = "table table-bordered col-4">
    <tr>
      <td class = "table-secondary">注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td class = "table-secondary">配送先</td>
      <td>
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td class = "table-secondary">支払方法</td>
      <td><%= @order.payment_method %></td>
    </tr>
  </table>
  <h5>注文内容</h5>
  <table class = "table table-bordered">
    <therd>
      <tr class = "table-secondary">
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </therd>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price * order_detail.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h5>請求情報</h5>
  <table class = "table table-bordered col-4">
    <tr>

      <td class = "table-secondary">商品合計</td>
      <td><%= @order.total_payment - @order.postage %></td>
    </tr>
    <tr>
      <td class = "table-secondary">配送料</td>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <td class = "table-secondary">ご請求額</td>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>
</div>
