<div class = "container">
  <h4>ログイン</h4>

  <h5>会員の方はこちらからログイン</h5>

  <%= form_with model: @customer, url: new_customer_session_path do |f| %>
    <div class="field text-center py-3">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field text-center py-3">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions text-center py-3">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <h5>会員登録がお済でない方</h5>
  <p class = "text-center py-3"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
</div>
