<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c77cf161f0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class = "d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <h4><%= link_to "nagano cake", root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" %></h4>
            <ul class="nav nav-pills">
              <% if customer_signed_in? %>
                <li>
                  <%= link_to "マイページ", public_customer_path(current_customer), class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "カート", public_cart_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_root_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "About", public_about_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark" %>
                </li>
              <% end %>
            </ul>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
